# 暂时关闭langsmith对会话的日志记录
LANGSMITH_TRACING=false
LANGSMITH_API_KEY=""
# 解决 LangSmith 后台线程在解释器关闭时报错的问题
LANGSMITH_TRACING_V2=false



NO_PROXY="localhost,127.0.0.1,sunj.com"
DASHSCOPE_API_KEY=""
DEEPSEEK_API_KEY=""
TAVILY_API_KEY=""
LANGSMITH_API_KEY=""

LANGGRAPH_API_LOG_LEVEL='warning'
LOG_LEVEL='warning'
